DATABASE_HOST=''
DATABASE_PORT=''
DATABASE_USER=''
DATABASE_NAME=''
DATABASE_PASSWORD=''

STEAM_API_KEY=''

OAUTH_PANEL_URL=''
OAUTH_REDIRECT_URL=''
DISCORD_CLIENT_ID=''
DISCORD_CLIENT_SECRET=''
DISCORD_BOT_TOKEN=''
DISCORD_BOT_INVITE_URL=''
DISCORD_GUILD_ID=''

SIGNING_SECRET_WEBHOOK=''
GMODSTORE_API_KEY=''
GMODSTORE_SECRET_WEBHOOK=''

DOMAIN_URL=''
WEBSITE_URL=''
SCREENSHOTS_CHANNEL_ID=''

BARER_DISCORD_RELAY=''

PRODUCTION=false
DEBUG=false
SENTRY_DSN=''