DATABASE_HOST=''
DATABASE_PORT=''
DATABASE_USER=''
DATABASE_NAME=''
DATABASE_PASSWORD=''

STEAM_API_KEY=''

OAUTH_VERIF_URL=''
OAUTH_PANEL_URL=''
DISCORD_CLIENT_ID=''
DISCORD_CLIENT_SECRET=''
DISCORD_BOT_TOKEN=''
DISCORD_BOT_INVITE_URL=''
DISCORD_GUILD_ID=''

COOKIE_SECRET=''
SESSION_SECRET=''

INTERNAL_TOKEN=''
INTERNAL_WEBSOCKET_TOKEN=''

SIGNING_SECRET_WEBHOOK=''
GMODSTORE_API_KEY=''

STRIPE_PUBLISHABLE_KEY=''
STRIPE_SECRET_KEY=''
STRIPE_WEBHOOK_SECRET=''

DOMAIN_URL=''
PRODUCTION=false

PORT_API=''
PORT_WEBSOCKET=''
PORT_WEBSITE=''