VITE_DEV=false
VITE_DEV_SHOW_MISSING_TRANSLATIONS=true
VITE_DEV_API_URL=http://localhost:53136
VITE_PROD_API_URL=https://api.gmod-integration.com
VITE_DEV_WS_URL=ws://localhost:53139
VITE_PROD_WS_URL=wss://ws.gmod-integration.com